*{
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

/* fonts */
@font-face {
    font-family: 'Inter';
    src: url(/assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

:root{
    --color-Green: hsl(75, 94%, 57%);

    --color-text-White: hsl(0, 0%, 100%);

    --color-button: hsl(0, 0%, 20%);
    --color-card: hsl(0, 0%, 12%);
    --color-background: hsl(0, 0%, 8%);
}

body{
    background-color: var(--color-background);
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card{
    background-color: var(--color-card);
    width: 100%;
    max-width: 320px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 50px ;
}

.author{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.author-image{
    border-radius: 50%;
  width: 100px;  /* Ajusta el tamaño según necesites */
  height: 100px; /* Usar el mismo valor que width para un círculo perfecto */
  object-fit: cover;
    margin-bottom: 20px;
}

.name{
    font-size: 24px;
    font-weight: 700;
    color: var(--color-text-White);
    margin-bottom: 15px;
}

.country{
    font-size: 14px;
    font-weight: 600;
    color: var(--color-Green);
    margin-bottom: 30px;
}

.description{
    font-size: 14px;
    color: var(--color-text-White);
    margin-bottom: 30px;
}

.buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    max-width: 310px;
}


.card button{
    background-color: var(--color-button);
    color: var(--color-text-White);
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    border-radius: 10px;
    padding: 15px 20px;
     /* Eliminar bordes */
    border: none;
    outline: none;

}

.card button:hover{
    background-color: var(--color-Green);
    color: var(--color-background);
    cursor: pointer;
}